<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="PR7_StepanetsEntities" connectionString="metadata=&quot;res://*/BD OSNOVA.csdl|res://*/BD OSNOVA.ssdl|res://*/BD OSNOVA.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-BFS1J0U5;initial catalog=PR7_Stepanets;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>